<ion-header>

  <ion-navbar>
    <ion-title>Edit Entry: {{ yuvaId }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding *ngIf="user" class="animated fadeIn">
	<ion-list>
		<ion-item>
			<ion-label floating>
				<ion-icon name="man" item-start class="text-primary"></ion-icon>
				YUVA ID
			</ion-label>
			<ion-input type="text" [(ngModel)]="yuvaId" ></ion-input>
		</ion-item>
		<ion-item>
			<ion-label floating>
				<ion-icon name="person" item-start class="text-primary"></ion-icon>
				Full Name
			</ion-label>
			<ion-input type="text" [(ngModel)]="name" ></ion-input>
		</ion-item>
		<ion-item>
			<ion-label floating>
				<ion-icon name="mail" item-start class="text-primary"></ion-icon>
				Email
			</ion-label>
			<ion-input type="email" [(ngModel)]="email" ></ion-input>
		</ion-item>
		<ion-item>
			<ion-label floating>
				<ion-icon name="call" item-start class="text-primary"></ion-icon>
				Contact No
			</ion-label>
			<ion-input type="text" [(ngModel)]="mobile" ></ion-input>
		</ion-item>
		<ion-item>
			<ion-label floating>
				<ion-icon name="school" item-start class="text-primary"></ion-icon>
				College
			</ion-label>
			<ion-select [(ngModel)]="college">
				<ion-option *ngFor="let college of collegeList" value="{{ college }}">{{ college }}</ion-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label floating>
				<ion-icon name="medal" item-start class="text-primary"></ion-icon>
				Event
			</ion-label>
			<ion-select [(ngModel)]="event">
				<ion-option *ngFor="let event of eventList" value="{{ event }}">{{ event }}</ion-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label floating>
				<ion-icon name="contacts" item-start class="text-primary"></ion-icon>
				Type
			</ion-label>
			<ion-select [(ngModel)]="type">
				<ion-option value="solo">Solo</ion-option>
				<ion-option value="duet">Duet</ion-option>
				<ion-option value="group">Group</ion-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label floating>
				<ion-icon name="card" item-start class="text-primary"></ion-icon>
				Payment Mode
			</ion-label>
			<ion-select [(ngModel)]="payMode">
				<ion-option value="paytm">Paytm</ion-option>
				<ion-option value="googlePay">Google Pay</ion-option>
				<ion-option value="cash">Cash</ion-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label floating>
				<ion-icon name="pricetag" item-start class="text-primary"></ion-icon>
				Total Fee
			</ion-label>
			<ion-input type="text" [(ngModel)]="totalFee" ></ion-input>
		</ion-item>
		<ion-item>
			<ion-label floating>
				<ion-icon name="cash" item-start class="text-primary"></ion-icon>
				Paid Fee
			</ion-label>
			<ion-input type="text" [(ngModel)]="paidFee" ></ion-input>
		</ion-item>
		<ion-item>
			<ion-label floating>
				<ion-icon name="contact" item-start class="text-primary"></ion-icon>
				Entry Taken By...
			</ion-label>
			<ion-input type="text" [(ngModel)]="entryTakenBy" ></ion-input>
		</ion-item>
		<br>
		<div>
			<button ion-button icon-start block color="dark" tappable (click)="updateEntry()">
				<ion-icon name="log-in"></ion-icon>Update
			</button>
		</div>
	</ion-list>
</ion-content>
